:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(117, 117, 117, 1);
  font-family: "Roboto", "sans-serif";
  padding-top: 60px;
}
.container {
  width: 1212px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  position: fixed;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color var(--anim-fast),
    backdrop-filter var(--anim-fast);
}
.header.no-transparency {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  transition: opacity 250ms var(--timing-function);
}

.header-container {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-2 {
  color: rgba(0, 0, 0, 0.986);
}

.logo-1 {
  color: rgba(33, 150, 243, 1);
}
/* Link */
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  gap: 305px;
}
.header-list,
.header-contacts {
  list-style: none;
  display: flex;
  margin: 0;
}
.header-nav {
}
.header-list {
  gap: 50px;
  padding: 0;
  margin: 0;
}

.header-link-1,
.header-link-2,
.header-link-3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-link-2 {
  color: rgba(33, 150, 243, 1);
}
.header-link-2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 1);
  position: relative;
  top: 35px;
}
.header-link-1,
.header-link-3 {
  color: rgba(33, 33, 33, 1);
}
.header-link-1:hover,
.header-link-1:focus,
.header-link-2:hover,
.header-link-2:focus,
.header-link-3:hover,
.header-link-3:focus {
  color: rgba(33, 150, 243, 1);
  transition: opacity 250ms var(--timing-function);
}

.header-contacts {
  padding: 0;
  margin: 0;
  gap: 30px;
}
.header-contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-tel,
.header-e-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.header-e-mail {
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-e-mail:hover {
  color: rgba(33, 150, 243, 1);
}
.header-e-mail:hover .header-icon {
  fill: rgb(33, 150, 243);
}
.header-e-mail:focus {
  color: rgba(33, 150, 243, 1);
}
.header-e-mail:focus .header-icon {
  fill: rgb(33, 150, 243);
}
.header-tel {
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-tel:hover {
  color: rgb(33, 150, 243);
}
.header-tel:hover .header-icon {
  fill: rgb(33, 150, 243);
}
.header-tel:focus {
  color: rgb(33, 150, 243);
}
.header-tel:focus .header-icon {
  fill: rgb(33, 150, 243);
}
.header-icon {
  transition: fill 250ms var(--timing-function);
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 155px;
}

/* Filters */

.filters-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
  margin: 0;
  justify-content: center;
}
.filters-btm {
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  align-items: center;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.filters-btm:hover,
.filters-btm:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .filters-btm-active {
  background-color: rgba(33, 150, 243, 1);
} */

/* Projects */
.projects-list {
  list-style: none;
  margin: 34px 0px 0px 0px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-box {
  padding: 20px 24px 20px 24px;
  border-right: 1px rgba(238, 238, 238, 1);
  border-bottom: 1px rgba(238, 238, 238, 1);
  border-left: 1px rgba(238, 238, 238, 1);
  z-index: 3;
}
.projects-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.projects-subtitle {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  margin: 0;
  padding: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.projects-overlay:hover > .overlay > :nth-child(2) {
  opacity: 1;
  transform: translatey(0);
}
.projects-overlay:focus > .overlay > :nth-child(2) {
  opacity: 1;
  transform: translatey(0);
}
.overlay-text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.8);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0px 0px 0px 0px;
  padding: 63px 24px;
  opacity: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transform: translatey(100%);
  transition: transform 250ms ease-out;

  z-index: 1;
}

/* Footer */
.footer {
  background-color: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-1 {
  color: rgba(33, 150, 243, 1);
}
.footer-logo-2 {
  color: rgba(255, 255, 255, 1);
}
.footer-adress {
  font-style: normal;
  margin-top: 20px;
}
.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}
.footer-link-1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link-2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link {
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-1:hover,
.footer-link-1:focus {
  color: rgba(33, 150, 243, 1);
}
.footer-social-container {
  margin-left: 70px;
}
.footer-social-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-social-link:hover {
  background-color: rgb(33, 149, 243);
}

.footer-social-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer-social-icon {
  fill: rgba(255, 255, 255, 1);
}
.form {
  margin: 12px 215px 34px 93px;
}
.label-box {
  margin-bottom: 10px;
}
.form-label {
  color: rgba(255, 255, 255, 1);
}
.mail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px 15px 16px;
  width: 326px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(47, 48, 58, 1);
  cursor: pointer;
}
.forms-btm {
  padding: 10px 29px 10px 28px;
  height: 50px;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  cursor: pointer;
}

.submit-icon {
  fill: rgba(255, 255, 255, 1);
}
