:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: rgbargba(245, 244, 250, 1);
  color: rgba(117, 117, 117, 1);
  font-family: "Roboto", "sans-serif";
  padding-top: 60px;
}

.container {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header {
  position: fixed;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color var(--anim-fast),
    backdrop-filter var(--anim-fast);
}
.header.no-transparency {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  transition: opacity 250ms var(--timing-function);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-2 {
  color: rgba(0, 0, 0, 0.986);
}
.logo-1 {
  color: rgba(33, 150, 243, 1);
}
.header-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  gap: 305px;
}
.header-list,
.header-contacts {
  list-style: none;
  display: flex;
}
.header-nav {
}
.header-list {
  gap: 50px;
  padding: 0;
  margin: 0;
}

.header-link-1,
.header-link-2,
.header-link-3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.header-link-1 {
  color: rgba(33, 150, 243, 1);
}
.header-link-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(33, 150, 243, 1);
  position: relative;
  top: 35px;
}
.header-link-2,
.header-link-3 {
  color: rgba(33, 33, 33, 1);
}
.header-link-2:hover,
.header-link-2:focus,
.header-link-3:hover,
.header-link-3:focus {
  color: rgba(33, 150, 243, 1);
}

.header-contacts {
  padding: 0;
  margin: 0;
  gap: 30px;
}

.header-contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-tel,
.header-e-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.header-e-mail {
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-e-mail:hover {
  color: rgba(33, 150, 243, 1);
}
.header-e-mail:hover .header-icon {
  fill: rgb(33, 150, 243);
}
.header-e-mail:focus {
  color: rgba(33, 150, 243, 1);
}
.header-e-mail:focus .header-icon {
  fill: rgb(33, 150, 243);
}
.header-tel {
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-tel:hover {
  color: rgb(33, 150, 243);
}
.header-tel:hover .header-icon {
  fill: rgb(33, 150, 243);
}
.header-tel:focus {
  color: rgb(33, 150, 243);
}
.header-tel:focus .header-icon {
  fill: rgb(33, 150, 243);
}
.header-icon {
  transition: fill 250ms var(--timing-function);
}
/* Hero */
.hero {
  color: rgba(255, 255, 255, 1);
  /* background-color: rgba(47, 48, 58, 1); */

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hero-btn {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  font-family: inherit;
  letter-spacing: 0.06em;
  display: block;
  margin: 30px auto 0px auto;
  padding: 10px 32px 10px 32px;
  border: 0;
}
/* BACKDROP */
.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms ease-out, visibility 250ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  min-width: 528px;
  min-height: 581px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
}
.close {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px 543px 490px;
}
.close:hover {
  cursor: pointer;
}
.close-black {
  fill: #000;
  transition: fill 250ms var(--timing-function);
}
.close-black:hover {
  fill: rgba(24, 140, 232, 1);
}
.modal-form {
  margin: 40px 40px 50px 41px;
}
.forms-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.span-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.name-icon {
  position: absolute;
  left: 56px;
  top: 111px;
  transition: fill 250ms var(--timing-function);
}

.input-name {
  padding: 12px 0px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.input-name:focus ~ .name-icon {
  fill: rgba(24, 140, 232, 1);
}
.input-name:focus {
  border-color: rgba(24, 140, 232, 1);
}
.phone-icon {
  position: absolute;
  left: 55.5px;
  top: 185px;
  transition: fill 250ms var(--timing-function);
}

.input-tel {
  padding: 12px 0px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.input-tel:focus ~ .phone-icon {
  fill: rgba(24, 140, 232, 1);
}
.input-tel:focus {
  border-color: rgba(24, 140, 232, 1);
}
.email-icon {
  position: absolute;
  left: 54px;
  top: 257px;
  transition: fill 250ms var(--timing-function);
}
.input-mail {
  padding: 12px 0px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.input-mail:focus ~ .email-icon {
  fill: rgba(24, 140, 232, 1);
}
.input-mail:focus {
  border-color: rgba(24, 140, 232, 1);
}

.textarea-coment {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  transition: border-color 250ms var(--timing-function);
}
.textarea-coment:focus {
  border-color: rgba(24, 140, 232, 1);
}
.box-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox {
  margin-right: 9px;
  margin-left: 16px;
  height: 16px;
  width: 15px;
}
.label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.link-checkbox {
  color: rgba(33, 150, 243, 1);
}

.modal-submit {
  display: block;
  margin: 0px auto 0px auto;
  padding: 10px 55px 10px 56px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(24, 140, 232, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms var(--timing-function);
}

/* specialty */
.specialty {
  padding-top: 94px;
  padding-bottom: 94px;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.specialty-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.specialty-item {
  margin: 0;
  width: 270px;
}
.specialty-subtitle {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
.specialty-text {
  color: rgba(117, 117, 117, 1);
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

/* Case */
.case {
  padding-bottom: 94px;
}
.case-list {
  display: flex;
  gap: 30px;
  padding: 0;
}
.case-title {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px 0px;
  padding: 0;
}
.case-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.case-thamb {
  position: relative;
}
.case-thamb > .case-label {
  position: absolute;
  top: 224px;
  left: 0;

  padding: 27px 82px;
  width: 100%;
}
.case-label {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Team */
.team {
  background-color: rgba(245, 244, 250, 1);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
}
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  padding: 0;
  margin: 0px 0px 50px 0px;
}

.team-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.team-item {
  background-color: rgba(255, 255, 255, 1);
  list-style: none;
  width: 270px;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team-subtitle {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0px 0px 10px 0px;
}
.team-subtitle-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-specialty {
  color: rgba(117, 117, 117, 1);
  /* font-weight: 400;
  font-size: 16px; */
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin: 0px 0px 16px 0px;
}
.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-link {
  transition: background-color 250ms var(--timing-function);
}
.social-link:hover {
  background-color: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}

.social-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms var(--timing-function);
}
.social-link:hover .social-icon {
  fill: rgba(255, 255, 255, 1);
}
.social-link:focus {
  background-color: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
.social-link:focus .social-icon {
  fill: rgba(255, 255, 255, 1);
}
/* Clients */

.clients {
  padding: 94px 0px;
}
.clients-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.clients-link:hover {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-link:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
}
.clients-link:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
}
.clients-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms var(--timing-function);
}

.clients-link:hover .clients-icon {
  fill: rgba(33, 150, 243, 1);
}
.clients-link:focus .clients-icon {
  fill: rgba(33, 150, 243, 1);
}

/* Footer */
.footer {
  background-color: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-1 {
  color: rgba(33, 150, 243, 1);
}
.footer-logo-2 {
  color: rgba(255, 255, 255, 1);
}
.footer-adress {
  font-style: normal;
  margin-top: 20px;
}
.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}
.footer-link-1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link-2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link {
  transition: color 250ms var(--timing-function);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-1:hover,
.footer-link-1:focus {
  color: rgba(33, 150, 243, 1);
}
.footer-social-container {
  margin-left: 70px;
}
.footer-social-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-social-link:hover {
  background-color: rgb(33, 149, 243);
}

.footer-social-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.footer-social-icon {
  fill: rgba(255, 255, 255, 1);
}
.form {
  margin: 12px 215px 34px 93px;
}
.label-box {
  margin-bottom: 10px;
}
.form-label {
  color: rgba(255, 255, 255, 1);
}
.mail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px 15px 16px;
  width: 326px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(47, 48, 58, 1);
  cursor: pointer;
}
.forms-btm {
  padding: 10px 29px 10px 28px;
  height: 50px;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  cursor: pointer;
}

.submit-icon {
  fill: rgba(255, 255, 255, 1);
}
